---
title: Table of contents
---
<div class="toc" style="margin-left:2em;">
{% for chap in site.data.toc %}
{% assign url = chap.chapter | slugify | prepend: '/chapters/' | prepend: site.baseurl | append: '.html' %}
<h3 class="chapter"><a href="{{ url }}">{{ chap.chapter }}</a></h3>  
<blockquote>
<ul class="section">
  {% for sect in chap.sections %}
    <li><a href="{{ sect.title | slugify | prepend: '#' | prepend: url }}">{{ sect.title }}</a></li>
    {% if sect.subsections %}
    <ul class="subsection">
      {% for subsect in sect.subsections %}
      <li><a href="{{ subsect.title | slugify | prepend: '#' | prepend: url }}">{{ subsect.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
</ul>
</blockquote>
{% endfor %}
</div>
