{% assign atomElement = include.item %}
{% assign atomKind = include.kind %}
{% for piece in atomElement %}
  <tr class="{{ atomKind }}">
  {% if piece.lhs %}
    <td>{% include formalism/equation.html item=piece %}</td>

  {% elsif piece[1].body %}
    <td>{% include formalism/element.html argument=piece level=2 %}</td>
    {% assign atomElement = include.item %}
    {% assign level = 0 %}
  {% else %}
    <td>
      <table class="embed">
        <!--<tr class="title"><th>{{ piece.first | capitalize }}</th></tr>-->
          {% for bit in piece.last %}
          <tr>
            <td>{% include formalism/delegate.html item=bit %}</td>
          </tr>
          {% endfor %}
      </table>
    </td>
  {% endif %}
  </tr>

{% endfor %}
