<h2>Counterfactual conditional</h2>

<h4>Strict</h4>
{% include examples/eqn2.html genus="counterfactual conditional" term="strict" type="trans" %}
{% include examples/eqn2.html genus="counterfactual conditional" term="strict" type="sem" %}

<h4>Variable</h4>
{% include examples/eqn2.html genus="counterfactual conditional" term="variable" type="trans" %}
{% include examples/eqn2.html genus="counterfactual conditional" term="variable" type="sem" %}

<h4>Shifty</h4>
{% include examples/eqn2.html genus="counterfactual conditional" term="shifty" type="trans" %}
{% include examples/eqn2.html genus="counterfactual conditional" term="shifty" type="sem" %}

<hr>

<h2>Universal quantifier</h2>

<h4>Strict</h4>
{% include examples/eqn2.html genus="universal quantifier" term="strict" type="trans" %}
{% include examples/eqn2.html genus="universal quantifier" term="strict" type="sem" %}

<h4>Generic</h4>
{% include examples/eqn2.html genus="universal quantifier" term="generic" type="trans" %}
{% include examples/eqn2.html genus="universal quantifier" term="generic" type="sem" %}

<h4>Structural</h4>
{% include examples/eqn2.html genus="universal quantifier" term="structural" type="trans" %}
{% include examples/eqn2.html genus="universal quantifier" term="structural" type="sem" %}

<hr>

<h2>Downdate</h2>

{% include examples/eqn2.html term="downdate" type="sem" %}

<hr>

<h2>DRS</h2>

{% include examples/eqn2.html term="drs" type="sem" %}
