{% assign element = include.argument %}
<table class="element" id="{{ element[0] | slugify }}">

    <tr class="title">
    {% if include.level == 2 %}
      <th>{{ element.first | capitalize }}</th>
    {% else %}
      <th class="level">{{ element.first | upcase }}</th>
    {% endif %}
    </tr>

  {% if element.last.cond %}
  <!-- Conditions -->
    <tr class="cond">
      <td>{% include formalism/cond.html item=element.last %}</td>
    </tr>
  {% endif %}

  {% if element.last.body %}
  <!-- Body -->
    {% include formalism/atom.html item=element.last.body kind="body" %}
  {% endif %}

  {% if element.last.parts %}
  <!-- Parts -->
    {% include formalism/atom.html item=element.last.parts kind="parts" %}
  {% endif %}

</table>
