{% assign name = include.item %}
<div class="eqn">
<!-- LHS -->
<div class="lhs">
{% for thing in name.lhs %}
  {% include formalism/delegate.html item=thing %}
  {% unless forloop.last %}<br>{% endunless %}
{% endfor %}
</div>

{% assign name = include.item %}
<!-- CONN -->
<div class="conn">{{ name.conn }}</div>

{% assign name = include.item %}
<!-- RHS -->
<div class="rhs">
{% for thing in name.rhs %}
  {% include formalism/delegate.html item=thing %}
  {% unless forloop.last %}<br>{% endunless %}
{% endfor %}
</div>

</div>
<div style="clear:both"></div>
