{% assign name = include.item %}

{% assign arg1 = '' %}
{% assign arg2 = '' %}

{% case name.fxn %}

{% when 'semwrap' %}
  {% assign arg1 = name.arg.inside %}
  {% assign arg2 = name.arg.outside %}
  {% include formalism/wraps/semwrap.html inside=arg1 outside=arg2 %}
{% when 'seqwrap' %}
  {% assign arg1 = name.arg.inside %}
  {% include formalism/wraps/seqwrap.html inside=arg1 %}
{% when 'drswrap' %}
  {% assign arg1 = name.arg.dref %}
  {% assign arg2 = name.arg.conditions %}
  {% include formalism/wraps/drswrap.html dref=arg1 conditions=arg2 %}
{% when 'upwrap' %}
  {% assign arg1 = name.arg.before %}
  {% assign arg2 = name.arg.update %}
  {% include formalism/wraps/semwrap.html before=arg1 update=arg2 %}
{% endcase %}
