<h3>Predicates</h3>

<!-- Bears -->
<table class="relation">
<tr>
  <td class="label" colspan="3">{% include fxns/semwrap.html argument=site.data.meanings.bears %}</td>
</tr>

{% include relations/relnheader.html attrs="sit|ent|bear" %}

{% include relations/keylist.html key="s<sub>1</sub>" attr1="a|b|e" attr2="+|+|+" %}
{% include relations/keylist.html key="s<sub>2</sub>" attr1="a|b|c|d" attr2="+|+|+|+" %}
{% include relations/keylist.html key="s<sub>3</sub>" attr1="a" attr2="+" %}

<tr>
  <td class="label" colspan="3"><strong>&#10649;</strong></td>
</tr>
</table>

<!-- Dangerous -->
<table class="relation">
<tr>
  <td class="label" colspan="3">{% include fxns/semwrap.html argument=site.data.meanings.dangerous %}</td>
</tr>

{% include relations/relnheader.html attrs="sit|ent|danger" %}

{% include relations/keylist.html key="s<sub>1</sub>" attr1="a|b|d" attr2="+|+|+" %}
{% include relations/keylist.html key="s<sub>2</sub>" attr1="a|b" attr2="+|+" %}
{% include relations/keylist.html key="s<sub>3</sub>" attr1="b|d" attr2="+|+" %}

<tr>
  <td class="label" colspan="3"><strong>&#10649;</strong></td>
</tr>
</table>

<!-- Grizzly -->
<table class="relation">
<tr>
  <td class="label" colspan="3">{% include fxns/semwrap.html argument=site.data.meanings.grizzly %}</td>
</tr>

{% include relations/relnheader.html attrs="sit|ent|grizzly" %}

{% include relations/keylist.html key="s<sub>1</sub>" attr1="a" attr2="+" %}
{% include relations/keylist.html key="s<sub>2</sub>" attr1="a|c" attr2="+|+" %}
{% include relations/keylist.html key="s<sub>3</sub>" attr1="a|e" attr2="+|+" %}

<tr>
  <td class="label" colspan="3"><strong>&#10649;</strong></td>
</tr>
</table>

<!---------------------- ----------------------->
<div style="clear:both;"></div>

<h3>Standard plural predication</h3>

{% include relations/bad/index.html rows="7" %}

<!---------------------- -------------------->
<div style="clear:both;"></div>

<h3>Contrastive modification</h3>

<!-- introduce alt set, full outer join, overwrite -->
<td class="label" colspan="3">{% include fxns/semwrap.html argument=site.data.meanings.grizzlyFbearsdangerous %}</td>

{% include fxns/semwrap.html argument=site.data.meanings.grizzlyF %} = PROJ({sit,ent,type &#x21a6; bear}, {% include fxns/semwrap.html inside='[Grizzly]<sub>cf</sub>' outside=site.data.symbols.model %} <span class="symbol">&#x27d7;</span> {% include fxns/semwrap.html argument=site.data.meanings.bears %}

{% include relations/contrast/index.html rows="9" %}

<div style="clear:both;"></div>

<h3>Contrastive plural predication</h3>

{% include relations/gbad/index.html rows="7" %}
