
  {% for quark in element[1].body %}

    {% if quark contains 'lhs' %}
    <!-- Equation -->
      {% assign element = quark %}
      {% include formalism/equation.html item=element %}

    {% elsif quark contains 'fxn' %}
    <!-- Function -->
      {% assign element = quark %}
      {% include formalism/fxn.html item=element %}

    {% else %}
    <!-- Complex -->
      {% if quark.cond %}
      <!-- Conditions -->
      <p class="cond"><span>For</span>
        {% for piece in quark.cond %}
          <span>{{ piece | append: ",&nbsp;" }}</span>
        {% endfor %}
      </p>
      {% endif %}

      {% if quark.body %}
      <!-- Body -->
        {% for piece in quark.body %}

          {% if piece contains 'lhs' %}
          <!-- Equation -->
            {% assign element = piece %}
            {% include formalism/equation.html item=element %}

          {% elsif piece contains 'fxn' %}
          <!-- Function -->
            {% assign element = piece %}
            {% include formalism/fxn.html item=element %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if quark.parts %}
      <!-- Parts -->
        {% for piece in quark.parts %}
          {% assign element = piece[1] %}
          {% include formalism/delegate.html item=element %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
