<div class="eqn" {% if include.embed and include.mult > 0 %}style="margin-top:-0.95em;"{% endif %}>

<div class="lhs" {% if include.embed %}style="width:15%;"{% endif %}>
  
  <div style="{% unless include.embed %}float:right;{% endunless %}">
    {% if include.mult != 0 %}<div style="line-height:0.95;">&nbsp;</div>{% endif %}
    {{ include.lhs | markdownify }}
  </div>

</div>
<div class="conn" {% unless include.embed %}style="text-align:center;"{% endunless %}>
  {% if include.mult != 0 %}
    {% assign n = include.mult %}
  <div style="float:left;padding:0 0.4em;">
    <br />{{ include.conn }}<br />
  </div>
  <div style="float:left;">
    &#x23a7;<br />&#x23a8;<br />{% for i in (1..n) %}&#x23aa;<br />{% endfor %}&#x23a9;
  </div>
  {% else %}
  <div>{{ include.conn }}</div>
  {% endif %}
</div>
<div class="rhs">
  {{ include.rhs | markdownify }}
</div>
<div style="clear:both;"></div>
</div>
