<div style="margin:1em;" id="{{ include.term | slugify }}">
  <div style="margin-bottom:0.5em;">
  <span style="margin-right:0.5em;font-weight:600;">
{% case include.type %}
  {% when 'ex' %}
{% assign ex = ex | plus: 1 %}
{{ ex | prepend: 'Example ' }}
  {% when 'obs' %}
{% assign obsex = obsex | plus: 1 %}
{{ obsex | prepend: 'Observation ' }}
  {% when 'def' %}
{% assign defex = defex | plus: 1 %}
{{ defex | prepend: 'Definition ' }}
{% endcase %}
  </span>
<span>{{ include.term | capitalize | prepend: ' (' | append: ') ' }}</span>
  </div>

  <blockquote>
{% case include.type %}
  {% when 'ex' %}
{% if include.sub %}
  <div style="margin-right:0.25em;">a.
  <span>{{ include.sent }}</span></div>
  {% assign pop = 0 %}
  {% assign snap = 'b,c,d' | split: ',' %}
  {% assign subs = include.sub | split: '|' %}
  {% for item in subs %}
  <div style="margin-right:0.25em;"><span>{{ snap[forloop.index0] | append: '.' }}
  <span>{{ item }}</span></span></div>
  {% assign pop = pop | plus: 1 %}
  {% endfor %}
{% else %}
  <span>{{ include.sent }}</span>
{% endif %}
  {% else %}
{{ include.defn | markdownify }}
{% endcase %}
  </blockquote>
</div>
