{% assign ex = ex | plus: 1 %}
<a name="{{ term }}"></a>
<div style="margin:1em;" id="{{ term }}">
  <div style="margin-bottom:0.5em;">
  <span style="margin-right:0.5em;font-weight:600;">{{ ex | prepend: 'Example ' }}</span><span>{{ include.term | capitalize | prepend: ' (' | append: ') ' }}</span>
  </div>

  <blockquote>
{% if include.sub %}
  <div style="margin-right:0.25em;">a.
  <span>{{ include.sent }}</span></div>
  {% assign pop = 0 %}
  {% assign snap = 'b,c,d' | split: ',' %}
  {% assign subs = include.sub | split: ',' %}
  {% for item in subs %}
  <div style="margin-right:0.25em;">{{ snap[forloop.index0] | append: '.' }}
  <span>{{ item }}</span></div>
  {% assign pop = pop | plus: 1 %}
  {% endfor %}
{% else %}
  <span>{{ include.sent }}</span>
{% endif %}
  </blockquote>
</div>
