{% assign attrib1 = include.attr1 | split: "|" %}
{% assign attrib2 = include.attr2 | split: "|" %}
{% if include.attr3 %}{% assign attrib3 = include.attr3 | split: "|" %}{% endif %}

{% assign len = attrib1.size | minus: 1 %}

{% if include.key != "" %}
  <tr>
    <td {% if include.group contains "0" %}style="border-bottom: 1px solid #000;"{% endif %}>{{ include.key }}</td>
    <td {% if include.group contains "0" %}style="border-bottom: 1px solid #000;"{% endif %}>{{ attrib1[0] }}</td>   
    <td {% if include.group contains "0" %}style="border-bottom: 1px solid #000;"{% endif %}>{{ attrib2[0] }}</td>
    {% if include.attr3 %}<td {% if include.group contains "0" %}style="border-bottom: 1px solid #000;"{% endif %}>{{ attrib3[0] }}</td>{% endif %}
    {% if include.comp %}<td rowspan="{{ len | plus: 1 }}" class="label">{{ include.comp }}</td>{% endif %}
  </tr>
{% for i in (1..len) %}
  {% assign row = i | append: "" %}
  <tr>
    <td {% if include.group contains row %}style="border-bottom: 1px solid #000;"{% endif %}>&#10649;</td>
    <td {% if include.group contains row %}style="border-bottom: 1px solid #000;"{% endif %}>{{ attrib1[i] }}</td>   
    <td {% if include.group contains row %}style="border-bottom: 1px solid #000;"{% endif %}>{{ attrib2[i] }}</td>
    {% if include.attr3 %}<td {% if include.group contains row %}style="border-bottom: 1px solid #000;"{% endif %}>{{ attrib3[i] }}</td>{% endif %}
  </tr>
{% endfor %}
{% endif %}
