{% assign header = include.attrs | split: "|" %}
{% assign lenh = header.size %}

{% assign attrib1 = include.attr1 | split: "|" %}
{% assign len1 = attrib1.size %}
{% assign attrib2 = include.attr2 | split: "|" %}
{% assign len2 = attrib2.size %}
{% if include.attrib3 %}
  {% assign attrib3 = include.attr3 | split: "|" %}
  {% assign len3 = attrib3.size %}
  {% if include.attrib4 %}
    {% assign attrib4 = include.attr4 | split: "|" %}
    {% assign len4 = attrib4.size %}
    {% if include.attrbi5 %}
      {% assign attrib5 = include.attr5 | split: "|" %}
      {% assign len5 = attrib5.size %}
    {% endif %}
  {% endif %}
{% endif %}


<table class="relation" >
<tr>
{% for attr in include.header %}
  <th>{{ attr }}</th>
{% endfor %}
</tr>

{% case lenh %}
  {% when 2 %}
{% for a1 in attrib1 %}
  {% for a2 in attrib2 %}
    <tr>
      <td>{{ a1 }}</td>
      <td>{{ a2 }}</td>
    </tr>
  {% endfor %}
{% endfor %}
  {% when 3 %}
{% for a1 in attrib1 %}
  {% for a2 in attrib2 %}
    {% for a3 in attrib3 %}
      <tr>
        <td>{{ a1 }}</td>
        <td>{{ a2 }}</td>
        <td>{{ a3 }}</td>
      </tr>
    {% endfor %}
  {% endfor %}
{% endfor %}
  {% when 4 %}
{% for a1 in attrib1 %}
  {% for a2 in attrib2 %}
    {% for a3 in attrib3 %}
      {% for a4 in attrib4 %}
        <tr>
          <td>{{ a1 }}</td>
          <td>{{ a2 }}</td>
          <td>{{ a3 }}</td>
          <td>{{ a4 }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}
  {% when 5 %}
{% for a1 in attrib1 %}
  {% for a2 in attrib2 %}
    {% for a3 in attrib3 %}
      {% for a4 in attrib4 %}
        {% for a5 in attrib5 %}
          <tr>
            <td>{{ a1 }}</td>
            <td>{{ a2 }}</td>
            <td>{{ a3 }}</td>
            <td>{{ a4 }}</td>
            <td>{{ a5 }}</td>
          </tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}

</table>
