<div class="toc">
{% for chap in site.data.toc %}
  {% if chap.chapter == include.chapter %} 
<ul class="section">
  {% for sect in chap.sections %}
    <li><a href="{{ sect.title | slugify | prepend: '#' }}">{{ sect.title }}</a></li>
    {% if sect.subsections %}
    <ul class="subsection">
      {% for subsect in sect.subsections %}
      <li><a href="{{ subsect.title | slugify | prepend: '#' }}">{{ subsect.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
</ul>
  {% endif %}
{% endfor %}
</div>
