<!-- Spanish downdate -->

<table class="ldrt">
  <tr>
    <td>&rArr;</td>
    <td>
      <table class="ldrt">
        <tr>
          <td class="drs left top">&nbsp;</td>
          <td class="dref" rowspan="3">x<sub>k</sub></td>
          <td class="condition">juan<sub>k</sub>(x)</td>
          <td class="drs right top">&nbsp;</td>
        </tr>
        <tr>
          <td class="drs left">&nbsp;</td>
          <td class="condition">speak.spanish<sub>fr</sub>(x)</td>
          <td class="drs right"></td>
        </tr>
        <tr>
          <td class="drs left bottom">&nbsp;</td>
          <td class="condition">argentinian<sub>fr</sub>(x)</td>
          <td class="drs right bottom">&nbsp;</td>
        </tr>
      </table>
    </td>
    <td class="symbol">&darr;</td>
    <td>
      <table class="ldrt">
        <tr>
          <td class="drs left top"></td>
          <td class="dref" rowspan="3">x<sub>k</sub></td>
          <td class="condition">juan<sub>k</sub>(x)</td>
          <td class="drs right top"></td>
        </tr>
        <tr>
          <td class="drs left bottom"></td>
          <td class="condition">&not;<sub>fr</sub>speak.spanish<sub>fr</sub>(x)</td>
          <td class="drs right bottom"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
