<div class="wrap">
  <div>&#x27e6;</div>
  <div>
    {% for bit in include.argument.inside %}
      {% include formalism/function.html argument=include.argument.inside %}
      {% unless forloop.last %}<span>,</span>{% endunless %}
    {% endfor %}
  </div>
  <div>&#x27e7;</div>
  <div>
    {% for bit in include.argument.outside %}
      {% include formalism/function.html argument=include.argument.outside %}
      {% unless forloop.last %}<span>,</span>{% endunless %}
    {% endfor %}
  </div>
</div>
