<!-- [Grizzly]cf bears -->
<table class="relation">
<tr>
  <td class="label" colspan="4">{% include fxns/semwrap.html argument=site.data.meanings.grizzlyFbears %}</td>
</tr>

{% include relations/relnheader.html attrs="sit|ent|subj" %}

{% include relations/keylist.html key="s<sub>1</sub>" attr1="a|b|e" attr2="grizzly|koala|&omega;"%}
{% include relations/keylist.html key="s<sub>2</sub>" attr1="a|b|c|d" attr2="grizzly|koala|grizzly|polar" %}
{% include relations/keylist.html key="s<sub>3</sub>" attr1="a|b|e" attr2="grizzly|koala|polar" %}

<tr>
  <td class="label" colspan="4"><strong>&#10649;</strong></td>
</tr>
</table>
