/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, ul, ol, dl, figure, table,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

ul > ul {
    margin-bottom: 0;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: 1em;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $header-ff;
    font-weight: 400;
    line-height: 1.1em;
}

h1 {
    font-size: $header-fs;
}

h2 {
    font-size: $header-fs * 0.9;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
}

h3 {
    font-size: $header-fs * 0.8;

    @include media-query($on-laptop) {
        font-size: 22px;
    }
}

h4 {
    font-size: $header-fs * 0.7;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit;
    font-size: 0.9em;
    text-align: justify;
    //letter-spacing: -1px;
    margin-bottom: 1em;

    @include media-query($mobile) {
      text-align: left;
      margin-left: 0;
      padding-right: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin: $spacing-unit auto;
    padding: $spacing-unit;
    background: $pagecolor;
    box-shadow: 0px 0px 5px 3px #555555;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

  width: 20px;

}

svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}
