div.formalism {
  margin:0;
  width: 100%;
}
div.molecule {
  margin-bottom: 1em;

  div.title {
    margin-bottom:0.5em;
    font-weight:600;
  }

  div.atom {
    margin-left:0.5em;
  }

  div.eqn {
    display: table-row;
    div.lhs {
      display: table-cell;
      text-align: right;
    }
    div.conn {
      display: table-cell;
      text-align: center;
      padding: 0 25px;
    }
    div.rhs {
      display: table-cell;
      text-align: left;
    }
  }

  div.categorical {
    display: inline;
  }
}
