div.formalism {
  margin:0;
  width: 100%;
}
div.molecule {
  margin-bottom: 1em;

  div.title {
    font-family: glam;
    font-size:1.5em;
    margin-bottom:0.5em;
    font-weight:600;

    &.off {
      display:none;
    }
  }

  div.atom {
    margin-left:1em;
    margin-bottom:0.5em;
  }

  div.eqn {
    display: table-row;
    div.lhs {
      display: table-cell;
      text-align: right;
    }
    div.conn {
      display: table-cell;
      text-align: center;
      padding: 0 25px;
    }
    div.rhs {
      display: table-cell;
      text-align: left;

      &.mult {
        border-left: 2px solid #000;
        border-radius: 5px;
        padding: 2px 0 2px 5px;
      }
    }
  }

  div.wrap {
    display: inline;

    div {
      display: inline;
    }
  }

  div.categorical {
    display: inline;
  }
}
