@media all and (max-width: 699px) {
  .atom {
    margin-left: 0;
    width: 100%;
  }
}
@media all and (min-width: 700px) {
  .atom {
    margin-left: 1em;
  }
}

div.formalism {
  margin:0;
  width: 100%;
}
.molecule {
  margin-bottom: 1em;

  div.title {
    font-family: glam;
    font-size:1.5em;
    margin-bottom:0.5em;
    font-weight:600;

    &.off {
      display:none;
    }
  }

  div.atom {
    margin-bottom:0.5em;
  }

  div.eqn {
    div.lhs {
      display: table-cell;
      text-align: right;
    }
    div.conn {
      display: table-cell;
      text-align: center;
      padding: 0 1em;
    }
    div.rhs {
      display: table-cell;
      text-align: left;

      &.mult {
        border-left: 2px solid #000;
        border-radius: 5px;
        padding: 2px 0 2px 5px;
      }

      .rhs1 {
        float: left;
      }
    }
  }

  div.wrap {
    display: table-row;

    div {
      display: table-cell;
    }
  }

  div.categorical {
    display: inline;
  }
}
