/* Set list format */
ul.setlist {
  text-align:center;

  li {
    list-style-type:none;
    display:inline;
    border-right:1px solid #000;
    padding:3px 10px;

    &:last-child {
      border-right:none;
    }
  }
}

ul.seqlist {
  text-align:center;

  li {
    list-style-type:none;
    display:inline;
    padding-left:2px;

    &:last-child {
      padding-left:0;
    }
  }
}

.eqn {
  width: 100%;
  margin: 1em 0;

  .cond {
    margin: 0.5em 0;
  }

  .lhs {
    float:left;
    width: calc(40% - 20px);
    width: -webkit-calc(40% - 20px);
  }

  .conn {
    float: left;
    width: 40px;
    margin-top:5px;
    line-height:0.95;
    text-align: center;
  }

  .rhs {
    float:left;
    width: calc(60% - 20px);
    width: -webkit-calc(60% - 20px);
  }

  .embed {
    .lhs {
      width: calc(15% - 20px);
      width: -webkit-calc(15% - 20px);
    }
  }
}

.subdef {
  margin-left: 2em;
}

.set {
  font-weight: 600;
}

.speechact {
  padding-right: 2px;

  &.conjecture {
    font-size: 1.25em;
    line-height: 0.75em;
  }
  &.correct {
    font-size: 1.25em;
    line-height: 0.75em;
  }
}
