/* Set list format */
ul.setlist {
  text-align:center;

  li {
    list-style-type:none;
    display:inline;
    border-right:1px solid #000;
    padding:3px 10px;

    &:last-child {
      border-right:none;
    }
  }
}

ul.seqlist {
  text-align:center;

  li {
    list-style-type:none;
    display:inline;
    padding-left:2px;

    &:last-child {
      padding-left:0;
    }
  }
}

.set {
  font-weight: 600;
}

.sup {
  margin-top: -3px;
}

.speechact {
  padding-right: 2px;

  &.conjecture {
    font-size: 1.25em;
    line-height: 0.75em;
  }
  &.correct {
    font-size: 1.25em;
    line-height: 0.75em;
  }
}
