/* Abstract */

.abstract {
  font-size: $small-font-size;
  margin: $spacing-unit 10%;
  text-align: justify;
}

.divider {
  margin: $spacing-unit 5%;
  clear:right;
  border-bottom:1px solid #aaa;
}

.footnotes {
  font-size: $small-font-size;
  margin: 0 5%;
  text-align: justify;
}

/* Navigation */

@media all and (max-width: 699px) {
  .page-content {
    text-align: left;
    padding: 5px;
  }

  ul.nav {
    clear: both;
    width: 100%;
    list-style-type:none;

    font-size:0.9em;
    li {
      display:inline-block;
      margin-right:1em;
      text-indent:-0.25em;

      &:first-child {
        display: block;
      }
    }
  }
  ul.nav2 {
    list-style-type:none;
    padding-left:0.25em;
    margin-left:0.25em;
  }

  blockquote {
    margin: 0;
  }
}

@media all and (min-width: 700px) {
  ul.nav {
        width: 40%;
        float:right;
        list-style-type:none;
        display:inline-block;
        border-left:1px solid #aaa;
        padding-left:0.5em;
        font-size:0.9em;
    li {
      padding-left:0.5em;
      text-indent:-0.5em;
    }
    a {
      margin-bottom: 0;
    }
  }
  ul.nav2 {
    list-style-type:none;
    padding-left:0.25em;
    margin-left:0.25em;
  }
}

/* Bibliography */

ul.bib {
  list-style-type:none;
  li {
    padding-left:0.5em;
    text-indent:-0.5em;
  }
  a {
    margin-bottom: 0;
  }
}

ul.bib2 {
  list-style-type:none;
  padding-left:0.25em;
  margin-left:0.25em;
}

.gloss {
  color: #008000;
}

.tooltip {
  position: fixed; /*leave this and next 3 values alone*/
  z-index: 1000;
  left: 1em;
  top: 1em;
  background: #272727;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 3px;
  width: 50%; /*width of tooltip*/
  max-width: 400px;
  display: none;
}

/* Table of contents */

.toc {
  .chapter {
    font-size: 1.5em;
  }
  ul.section {
    margin-left: 1em;
  }
  ul.subsection {
    margin-left: 2em;
  }
  li {
    list-style-type: none;
  }
  .item {
    margin-top: 0.5em;
  }
}

.hid {
  display: none;
}

#totop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 100px;
  width: 30px;
}

/* Footer */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(0);
    width:         calc(0);
}

.footer-col-3 {
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
