/* Abstract */

.abstract {
  font-size: $small-font-size;
  margin: 1em 2em;
  text-align: justify;
}

.divider {
  margin: $spacing-unit 5%;
  clear:right;
  border-bottom:1px solid #aaa;
}

.footnotes {
  margin: 0 5%;
  text-align: justify;

  @media screen {
    .reversefootnote {
      display: none;
    }
  }
}

/* Navigation */

@media all and (max-width: 699px) {
  .page-content {
    text-align: left;
    padding: 5px;
  }

  ul.nav {
    clear: both;
    width: 100%;
    list-style-type:none;
    margin-left: 0;
    font-size:0.9em;
    li {
      display:inline-block;
      margin-right:1em;
      text-indent:-0.25em;

      &:first-child {
        display: block;
      }
    }
  }
  ul.nav2 {
    list-style-type:none;
    padding-left:0.25em;
    margin-left:0.25em;
  }

  blockquote {
    margin: 0;
  }
}

@media all and (min-width: 700px) {
  ul.nav {
        width: 40%;
        float:right;
        list-style-type:none;
        display:inline-block;
        border-left:1px solid #aaa;
        padding-left:0.5em;
        font-size:0.9em;
    li {
      padding-left:0.5em;
      text-indent:-0.5em;
    }
    a {
      margin-bottom: 0;
    }
  }
  ul.nav2 {
    list-style-type:none;
    padding-left:0.25em;
    margin-left:0.25em;
  }
}

/* Bibliography */

ul.bib {
  list-style-type:none;
  li {
    padding-left:0.5em;
    text-indent:-0.5em;
  }
  a {
    margin-bottom: 0;
  }
}

ul.bib2 {
  list-style-type:none;
  padding-left:0.25em;
  margin-left:0.25em;
}

.gloss {
  color: #008000;
}


.tooltip {
  position: fixed;
  z-index: 1000;
  left: 1em;
  top: 1em;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  width: 50%;
  max-width: 400px;
  display: none;

  &.comment {
    background: rgba(0,51,204,0.9);
  }
  &.reference {
    background: rgba(100,100,100,0.9);
  }
  &.glossary {
    background: rgba(0,128,0,0.9);
  }
}


a.note:link {
    border: 1px solid $brand-color;
    border-radius: 3px;
    color: $brand-color;
    padding: 2px;
    line-height: 0.875;
    text-decoration: none;
    display: inline-block;
}

a.note:hover {
    background-color: $brand-color;
    color: #fff;
}

/* Table of contents */

.toc {
  .chapter {
    font-size: 1.5em;
  }
  ul.section {
    margin-left: 1em;
  }
  ul.subsection {
    margin-left: 2em;
  }
  li {
    list-style-type: none;
  }
  .item {
    margin-top: 0.5em;
  }
}

/* Glossary */
ul.glossary {
  li {
    list-style-type: none;

    .title {
      font-weight:600;
      font-size:1.1em;
    }

    .body {
      color: #000;
      padding-right: $spacing-unit;
      font-size: 0.9em;
      text-align: justify;
      //letter-spacing: -1px;
      margin: 0.5em 1em;

      &.fence {
        border-left: 4px solid $grey-color-light;
        padding-left: $spacing-unit / 2;
      }
    }


        .subtitle {
          font-size:0.8em;
          margin-left:0.75em;
          margin-top:0.75em;
        }
        ul.inline li {
          display: inline-block;
        }

  }

}

/* Chapter end */
.references, .appendices, .comments  {
  border-top: 1px solid #aaa;
  padding-top: 1.5em;
  margin-top: 0.5em;
}

.hid {
  display: none;
}

#totop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 100px;
  width: 30px;
}

/* Typology */
table.typology {
  border-collapse: collapse;
  font-size: 0.8em;
  border: 1px solid #000;

  td {
    padding: 1em;
    border: 1px solid #aaa;
  }

  td.embed {
    padding: 0;

    table {
      height: 100%;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 0;

      td {
        padding: 1em;
        border: 0;
        border-bottom: 1px solid #aaa;
      }

      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}

tr.even td {
  background: #ccc;
}

ul.body-nav {
  li {
    margin-right: 2em;
    list-style-type: none;
    display: inline;
  }
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.def {
  margin: 0 1em;
  .title {
    .head {
      margin-right:0.5em;
      font-size: $ex-fs;
      font-family: $header-ff;
    }
  }
  .body {
    color: #000;
    padding-right: $spacing-unit;
    font-size: 0.9em;
    text-align: justify;
    //letter-spacing: -1px;
    margin-bottom: 1em;

    &.fence {
      border-left: 4px solid $grey-color-light;
      padding-left: $spacing-unit / 2;
    }
  }
}
