.ldrt {
  border-collapse:collapse;
  margin: 0 5px;

  .drs {
    &.left {
      border-left:1px solid #000;
    }
    &.right {
      border-right:1px solid #000;
    }
    &.top {
      border-top:1px solid #000;
    }
    &.bottom {
      border-bottom:1px solid #000;
    }
    padding:2px;
  } 

  .dref {
    border-right:1px solid #000;
    padding-right:5px;
  }

  .condition {
    padding-left:5px;
  }

  .contribution {
    width: 2em;
    text-align: center;
  }

  .downdate {
    text-decoration: line-through;
  }
}
