ul.nav {
  width: 40%;
  float:right;
  list-style-type:none;
  display:inline-block;
  border-left:1px solid #aaa;
  padding-left:0.5em;
  font-size:0.9em;
  li {
    padding-left:0.5em;
    text-indent:-0.5em;
    &.inline {
      display: inline-block;
      padding-right: 1em;
    }
  }
  a {
    margin-bottom: 0;
  }

  @include media-query($mobile) {
    clear: both;
    width: 100%;
    margin-left: 0;
    li {
      display:inline-block;
      margin-right:1em;
      text-indent:-0.25em;
      &:first-child {
        display: block;
      }
    }
  }
}
ol.nav2 {

}
ul.nav2 {
  list-style-type:none;
  padding-left:0.25em;
  margin-left:0.25em;

  @include media-query($mobile) {
    li {
      display: block;
    }
  }
}
ul.body-nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  li {
    display: inline;
    margin-right: 2em;
    list-style-type: none;
  }
  @include media-query($mobile) {
    li {
      display: block;
    }
  }
}

.smallnav {
  display: none;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  margin: 0 inherit;
  background: $pagecolor;
  padding: #{$spacing-unit / 2} 0;
  text-align:center;
  box-shadow: 0px -2px 2px #555555;
  .button {
    display: inline-block;
    padding: 0 $spacing-unit;
    font-weight: 600;
    font-family: glam;
    text-align: left;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  @include media-query($mobile) {
    width: 100%;
  };
}
