.print-only {
  height: 0;
  overflow: hidden;
  border: 0;
}

@media print {
  .print-only {
    height: auto;
  }
  .print-no {
    display: none;
  }

  .break {
    page-break-after: always;
  }

  .def {
    page-break-inside: avoid;
  }

  .nav {
    display: none;
  }

  .site-footer {
    display: none;
  }

  .lightbox {
    display: block;
    position: relative;
    background: #fff;

    .popbox {
      position: relative;
      padding: 0;
    }
  }

  .tooltip {
    position: relative;
    display: block;
    border: none;
    border-radius: 0;
    color: $text-color;
    padding: 0;
    width: inherit;
    max-width: inherit;
    background: $pagecolor;
  }

  .wrapper {
    padding: 0;
  }

  .page-content {
    padding: 0;
  }

  .bunch {
    .body-nav {
      display: none;
    }
    .area {
      display: block!important;
      position: relative;
    }
  }

}
