/**
 * Relations
 */

table.relation {
  border-collapse: collapse;
  float:left;
  margin: 0.5em;

  th {
    text-align: center;
    border: 1px solid #000;
  }

  td {
    width: 70px;
    text-align: center;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }

  td.label {
    border:none;
    vertical-align: middle;
  }
}

.symbol {
  font-size: 1.5em;
}

.tablewrap {
    max-width: -webkit-calc(#{$big-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$big-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$big-width} - (#{$spacing-unit}));
        max-width:         calc(#{$big-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.red {
  color: red;
  font-weight: 600;
  font-size: 1em;
}

.green {
  color: green;
  font-weight: 600;
  font-size: 1em;
}

.blue {
  color: blue;
  font-weight: 600;
  font-size: 1em;
}

@media print {
    .breaker {
      page-break-after: always;
    }
}

div.relation {
  display: table;
  border-collapse:collapse;
  text-align:center;
  margin:1em;
  div.head {
    display: table-row;
    div.attribute {
      display: table-cell;
      font-weight: 600;
      border: 1px solid #000;
      width: 73px;
    }
  }
  div.state {
    display: table-row;
    div.entity {
      display: table-cell;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
    }
  }
  div.continued {
    display: table-cell;
  }
}
