table.typology {
  border-collapse: collapse;
  font-size: 0.8em;
  border: 1px solid #000;

  td {
    padding: 1em;
    border: 1px solid #aaa;
  }

  td.embed {
    padding: 0;

    table {
      height: 100%;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 0;

      td {
        padding: 1em;
        border: 0;
        border-bottom: 1px solid #aaa;
      }

      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}

tr.even td {
  background: #ccc;
}

table.dataTable.dtr-column > tbody > tr > td.expand,
table.dataTable.dtr-column > tbody > tr > th.expand {
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-image: url('../images/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: center;
}
table.dataTable.dtr-column > tbody > tr.parent > td.expand,
table.dataTable.dtr-column > tbody > tr.parent > th.expand {
  background-image: url('../images/chevron-up.svg');
  background-repeat: no-repeat;
  background-position: center;
}
