<!-- Right-outer-join(Grizzly bears,Dangerous) -->
<table class="relation">
<tr>
  <td class="label" colspan="4" style="font-size:0.85em;">{% include sem.html term='<em>[Grizzly]<sub>cf</sub> bears</em>' model="M" %} &#x27d6; {% include sem.html term='<em>dangerous</em>' model="M" %}</td>
</tr>

{% include relnheader.html attrs="sit|ent|subj|pred" %}

{% include keylist.html key="s<sub>1</sub>" attr1="a|b|d" attr2="grizzly|koala|&omega;" attr3="+|+|+" %}
{% include keylist.html key="s<sub>2</sub>" attr1="a" attr2="grizzly" attr3="+" %}
{% include keylist.html key="s<sub>3</sub>" attr1="b|d" attr2="koala|&omega;" attr3="+|+" %}

<tr>
  <td class="label" colspan="4"><strong>&#10649;</strong></td>
</tr>
</table>
