---
title: Formalism
js: [bunch,toc]
permalink: /formalism/
---

<script type="text/javascript">
$(document).ready(function() {
    $('.toc-table').toc();
});
</script>
<div class="bunch">

<ul class="body-nav">
  <li><a href="#" class="types">Types</a></li>
  <li><a href="#" class="pragmatics">Pragmatics</a></li>
  <li><a href="#" class="semstructure">Semantic Structure</a></li>
  <li><a href="#" class="semrules">Semantic Rules</a></li>
  <li><a href="#" class="model">A Model</a></li>
  <!--<li><a href="#" class="relations">Predication in <span class="set">CU</span></a></li>
  <li><a href="#" class="definitions">Definitions</a></li>-->
</ul>

<div class="area types">
  <h2>Types</h2>
  <div class="molecule">
    <div class="atom">
      <div class="title">All types</div>
      <ul class="setlist">
      {% for item in site.data.formalism.types.basic %}
        <li>
          <a href="#" id="{{ item[0] | slugify }}" class="tooled">{{ item[1] }}</a>
          <span id="{{ item[0] | slugify }}-tip" class="tooltip defn">{{ item[0] }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="molecule">
    <div class="atom">
      <div class="title">Discourse referent types</div>
      <ul class="setlist">
      {% for item in site.data.formalism.types.dref %}
        <li>
          <a href="#" id="{{ item[0] | slugify }}" class="tooled">{{ item[1] }}</a>
          <span id="{{ item[0] | slugify }}-tip" class="tooltip defn">{{ item[0] }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="area pragmatics" style="display:none;">
  <h2>Pragmatics</h2>
  {% for item in site.data.formalism.pragmatics %}
    {% assign thing = item[0] | prepend: "pragmatics|" %}
    {{ thing | formalize }}
  {% endfor %}
</div>

<div class="area semstructure" style="display:none;">
  <h2>Semantic structure</h2>
  {% for item in site.data.formalism.semstructure %}
    {% assign thing = item[0] | prepend: "semstructure|" %}
    {{ thing | formalize }}
  {% endfor %}
</div>

<div class="area semrules" style="display:none;">
  <h2>Semantic rules</h2>
  {% for item in site.data.formalism.semrules %}
    {% assign thing = item[0] | prepend: "semrules|" %}
    {{ thing | formalize }}
  {% endfor %}
</div>

<div class="area model" style="display:none;">
  <h2>A model</h2>
  {% for item in site.data.formalism.model %}
    {% assign thing = item[0] | prepend: "model|" %}
    {{ thing | formalize }}
  {% endfor %}
</div>

<!--<div class="area relations" style="display:none;">
  <h2>Predication in <span class='set'>CU</span></h2>
</div>

<div class="area definitions" style="display:none;">
  <h2>Definitions</h2>

</div>-->

</div>
