---
title: Glossary
type: chapter
level: 5
---

{% assign words = site.data.glossary | sort %}
<ul class="glossary">
{% for word in words %}
  <li>
    <a name="{{ word[0] | truncate: 5,'' }}"></a>
    <div class="title">{{ word[0] }}</div>
    <div class="body fence">{{ word[1].definition }}

    {% if word[1].related %}
    <div class="subtitle"><span>Related concepts:</span>
      <ul class="inline">
        {% for item in word[1].related %}
        <li><a href="#{{ item | truncate: 5,'' }}">{{ item }}</a></li>
        {% unless forloop.last %}
        <li>|</li>
        {% endunless %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if word[1].biblio %}
    <div class="subtitle"><span>Relevant resources:</span>
      <ul>
        {% for item in word[1].biblio %}
        <li>{% include appendices/lucy.html id=item %}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    </div>
  </li>
{% endfor %}
</ul>
