---
title: Pragmatics
---

{% for item in site.data.pragmatics %}

{% assign element = item %}
<div>
<!-- Title -->
<h3>{{ element[0] | upcase }}</h3>

{% assign element = item %}
<!-- Conditions -->
{% if element[1].cond %}
<div class="cond">
  <span>For</span>
  {% for piece in element[1].cond %}
    <span>{{ piece | append: ",&nbsp;" }}</span>
  {% endfor %}
</div>
{% endif %}

{% assign element = item %}
<!-- Body -->
{% if element[1].body %}
<div class="body">
  {% for item in element[1].body %}
    {% assign element = item %}
    {% if element contains 'lhs' %}
      {% include formalism/delegate.html item=element %}
    {% elsif element[1].body %}
      <div class="body">
        {% assign thing = element[1].body %}
        {% include formalism/delegate.html item=thing %}
      </div>
      {% if element[1].parts %}
      <div class="parts">
        {% for piece in element[1].parts %}
        <div class="part">
          {% for bit in piece[1] %}
            {% assign element = bit %}
            {% include formalism/delegate.html item=element %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% else %}
      <h4>{{ element[0] | captialize }}</h4>
      {% for thing in element[1] %}
      <div>
        {% assign element = thing %}
        {% include formalism/delegate.html item=element %}
      </div>
      {% endfor %}
    {% endif %}
  <div style="clear:both;"></div>
  {% endfor %}
</div>
{% endif %}

{% assign element = item %}
<!-- Parts -->
{% if element[1].parts %}
<div class="parts">
  {% for piece in element[1].parts %}
  <div class="part">
    {% for bit in piece[1] %}
      {% assign element = bit %}
      {% include formalism/delegate.html item=element %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endif %}
</div>
{% endfor %}
