---
title: "Predication in <strong>CU</strong>"
js: bunch
---

<h3>Predicates</h3>

{% assign bears = "bears" | intension: "+" %}
{% assign griz = "bears" | intension: "grizzly" %}
{% assign allbears = "bears" | intension: "all" %}
{% assign danger = "dangerous" | intension: "+" %}

{% assign names = "bears dangerous grizzly" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>
<div class="area offset bears">
  {{ bears | display_table }}
</div>
<div class="area offset dangerous">
  {{ danger | display_table }}
</div>
<div class="area offset grizzly">
  {{ griz | display_table }}
</div>
<div style="clear:both;"></div>
</div>

<h3>Standard modification</h3>

{% assign grizzlybears = griz | concat: bears | modify %}
{% assign names = "modify restrict" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area offset modify">
{{ grizzlybears | display_table }}
</div>
<div class="area offset restrict">
{{ grizzlybears | intersect | display_table }}
</div>
<div style="clear:both;"></div>
</div>

<h3>Standard plural predication</h3>

{% assign bearsdanger = bears | concat: danger | predicate %}
{% assign names = "predicate group compare restrict" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area offset predicate">
{{ bearsdanger | display_table }}
</div>
<div class="area offset group">
{{ bearsdanger | group | display_table }}
</div>
<div class="area offset compare">
{{ bearsdanger | group | compare: "sit|+-bears +" | display_table }}
</div>
<div class="area offset restrict">
{{ bears | concat: danger | predicate | situ: "s2" | display_table }}
</div>
<div style="clear:both;"></div>
</div>


<h3>Contrastive modification</h3>

{% assign grizzlybears = allbears | focus: "grizzly" | concat: bears | modify %}
{% assign names = "alt modify refine" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area offset alt">
{{ allbears | focus: "grizzly" | display_table }}
</div>
<div class="area offset modify">
{{ grizzlybears | display_table }}
</div>
<div class="area offset refine">
{{ grizzlybears | refine | display_table }}
</div>
<div style="clear:both;"></div>
</div>

<h3>Contrastive plural predication</h3>

{% assign gbdanger = allbears | focus: "grizzly" | concat: bears | modify | refine | concat: danger | predicate %}
{% assign names = "predicate group compare restrict" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area offset predicate">
{{ gbdanger | display_table }}
</div>
<div class="area offset group">
{{ gbdanger | group: "sit all-bears" | display_table }}
</div>
<div class="area offset compare">
{{ gbdanger | compare: "sit all-bears|all-bears grizzly" | display_table }}
</div>
<div class="area offset restrict">

</div>
<div style="clear:both;"></div>
</div>
