---
title: Relations
js: bunch
---

<h3>Predicates</h3>

{% assign bears = "bears" | intension: "+" %}
{% assign griz = "bears" | intension: "grizzly" %}
{% assign allbears = "bears" | intension: "all" %}
{% assign danger = "dangerous" | intension: "+" %}

{% assign names = "bears dangerous grizzly" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>
<div class="area bears">
  {{ bears | display_table }}
</div>
<div class="area dangerous">
  {{ danger | display_table }}
</div>
<div class="area grizzly">
  {{ griz | display_table }}
</div>
<div style="clear:both;"></div>
</div>

<h3>Standard modification</h3>

{% assign grizzlybears = griz | concat: bears | modify %}
{% assign names = "modify restrict" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area modify">
{{ grizzlybears | display_table }}
</div>
<div class="area restrict">
{{ grizzlybears | intersect | display_table }}
</div>
<div style="clear:both;"></div>
</div>

<h3>Standard plural predication</h3>

{% assign bearsdanger = bears | concat: danger | predicate %}
{% assign names = "predicate group compare restrict" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area predicate">
{{ bearsdanger | display_table }}
</div>
<div class="area group">
{{ bearsdanger | group | display_table }}
</div>
<div class="area compare">
{{ bearsdanger | group | compare: "+-bears" | display_table }}
</div>
<div class="area restrict">
{{ bears | concat: danger | predicate | situ: "s2" | display_table }}
</div>
<div style="clear:both;"></div>
</div>


<h3>Contrastive modification</h3>

{% assign grizzlybears = allbears | concat: bears | modify %}
{% assign names = "alt modify refine" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area alt">
{{ allbears | display_table }}
</div>
<div class="area modify">
{{ grizzlybears | display_table }}
</div>
<div class="area refine">
{{ grizzlybears | refine | display_table }}
</div>
<div style="clear:both;"></div>
</div>

<h3>Contrastive plural predication</h3>

{% assign gbdanger = grizzlybears | refine | concat: danger | predicate %}
{% assign names = "predicate group compare restrict" | split: " " %}

<div class="bunch">
<ul class="body-nav">
  {% for name in names %}
  <li><a href="#" class="{{name}}">{{name | capitalize}}</a></li>
  {% endfor %}
</ul>

<div class="area predicate">
{{ gbdanger | display_table }}
</div>
<div class="area group">
{{ gbdanger | group | group: "all-bears" | display_table }}
</div>
<div class="area compare">
{{ gbdanger | compare: "all-bears" | display_table }}
</div>
<div class="area restrict">

</div>
<div style="clear:both;"></div>
</div>
