---
title: Typologies
distinctions:
  - structure of inquiry
  - information state evaluation
  - value of knowledge
  - context sensitivity
js: bunch
---

<div class="bunch">
<ul class="body-nav">
{% for frac in page.distinctions %}
  <li><a href="#" class="{{ frac | slugify }}">{{ frac | capitalize }}</a></li>
{% endfor %}
</ul>

{% for frac in page.distinctions %}
<div class="area {{ frac | slugify }}" {% unless forloop.first %}style="display:none;"{% endunless %}>
  <h3>{{ frac | capitalize }}</h3>
  {% include appendices/typology.html distinction=frac %}
</div>
{% endfor %}
</div>
