{% assign lucy = site.data.dissbib[include.id] %}

  {% assign name = lucy.Author | split: ' ' %}
  {% assign len = name | size %}
  {% assign arrlen = len | minus: 1 %}
  {% assign skip = '' %}
  {% assign last = '' %}
  {% assign alsoskip = '' %}
  <li style="list-style-type:none;margin-bottom:0.5em;padding-left:1em;text-indent:-1em;"><a name="ref-{{ name[1] }}"></a>
<span>
{% if lucy.Author contains ' and ' %}
  {% assign last = arrlen %}
  {% if name[2] == 'and' %}
    <span>{{ name[1] | append: "," }}</span>
    {% assign skip = 1 %}
  {% else %}
    {% if name[1] == 'von' or name[1] == 'van' or name[1] == 'ver' %}
      <span>{{ name[1] }}</span>
      {% assign alsoskip = 1 %}
    {% endif %}
    <span>{{ name[2] | append: "," }}</span>
    {% assign skip = 2 %}
  {% endif %}
{% else %}
  {% if len == 3 %}
    {% if name[1] == 'von' or name[1] == 'van' or name[1] == 'ver' %}
      <span>{{ name[1] | append: ' ' }}{{ name[2] | append: "," }}</span>
      {% assign skip = 2 %}
      {% assign alsoskip = 1 %}
      {% assign last = 0 %}
    {% else %}
      <span>{{ name[2] | append: "," }}</span>
      {% assign skip = 2 %}
      {% assign last = 1 %}
    {% endif %}
  {% elsif len == 1 %}
    <span>{{ name[0] }}</span>
    {% assign skip = 0 %}
  {% else %}
    <span>{{ name[1] | append: "," }}</span>
    {% assign skip = 1 %}
    {% assign last = 0 %}
  {% endif %}
{% endif %}

{% for i in (0..arrlen) %}
  {% if i == skip or i == alsoskip %}
    {% continue %}
  {% elsif i == last %}
    {% if name[i] contains '.' %}
      {{ name[i] }}
    {% else %}
      {{ name[i] | append: '.' }}
    {% endif %}
  {% else %}
    {{ name[i] }}
  {% endif %}
{% endfor %}</span>

{% assign tend = lucy.Title | slice: -1, 1 %}
<span><em>{{ lucy.Title | append: '.' }}</em></span>

<span>
{% if lucy.Type == 'article' %}
  <span>{{ lucy.Journal }}</span>
  {% if lucy.Volume %}
    {% if lucy.Number %}
    <span>{{ lucy.Volume | prepend: " " | append: '.' | append: lucy.Number | append: '.' }}</span>
    {% else %}
      <span>{{ lucy.Volume | prepend: " " | append: '.' }}</span>
    {% endif %}
  {% endif %}
{% elsif lucy.Type == 'chapter' %}
  {% if lucy.Booktitle %}
    <span>{{ lucy.Booktitle | append: '.' }}</span>
  {% endif %}
  <span>{{ lucy.Publisher | append: '.' }}</span>
  {% if lucy.Location %}
    <span>{{ lucy.Location | append: "." }}</span>
  {% endif %}
{% else %}
  <span>{{ lucy.Publisher | append: '.' }}</span>
  {% if lucy.Location %}
    <span>{{ lucy.Location | append: "." }}</span>
  {% endif %}
{% endif %}
</span>

<span>{{ lucy.Year | append: '.' }}</span>

{% unless include.nourl %}
{% if lucy.Url %}
  <ul class="bib2">
  {% for link in lucy.Url %}
    <li><a href="{{ lucy.Url }}" target="_blank">{{ link }}</a></li>
  {% endfor %}
  </ul>
{% endif %}
{% endunless %}
</li>
