<div class="def" style="margin:1em 0;{% if include.type == 'explic' %}margin-bottom:2em;padding:0.5em;background:#ccc;{% endif %}" id="{{ include.term | slugify }}">
  <div style="margin-bottom:0.5em;">
    <span class="extitle">
    {% case include.type %}
      {% when 'explic' %}
        Critical explication
      {% when 'obs' %}
        {% assign obsex = obsex | plus: 1 %}
        {{ obsex | prepend: 'Observation ' }}
      {% when 'def' %}
        {% assign defex = defex | plus: 1 %}
        {{ defex | prepend: 'Definition ' }}
      {% when 'table' %}
        {% assign tableex = tableex | plus: 1 %}
        {{ tableex | prepend: 'Table ' }}
    {% endcase %}
    </span>
    <span>{{ include.term | capitalize | prepend: ' (' | append: ') ' }}</span>
  </div>
  <blockquote {% if include.type == 'explic' or include.type == 'table' %}style="border-left:none;"{% endif %}>
    {{ include.defn | markdownify }}
  </blockquote>
</div>
