{% if include.genus %}
  {% assign group = site.data.definitions[include.genus] %}
  {% assign stuff = group[include.term].[include.type] %}
{% else %}
  {% assign stuff = site.data.definitions[include.term].[include.type] %}
{% endif %}

{% case include.type %}
{% when 'sem' %}

<div class="eqn">
{% for defn in stuff %}
<!-- Conditions -->
{% if defn.cond and defn.cond != "" %}
<div class="cond">For {% for item in defn.cond %}{{ item | markdownify | remove: '<p>' | remove: '</p>' | strip }}{% if forloop.length == 2 and forloop.first %}&nbsp;and&nbsp;{% else %},&nbsp;{% endif %}{% endfor %}</div>
{% endif %}

<!-- Left hand side -->
<div class="lhs">

  <div style="float:right;">
    {% if defn.rhs.size > 1 %}<div style="line-height:0.95;">&nbsp;</div>{% endif %}
    {{ defn.lhs | markdownify }}
  </div>

</div>

<!-- Connective -->
<div class="conn">
  {% if defn.rhs.size > 1 %}
  <div style="float:left;padding:0 0.4em;">
    <br />{{ defn.conn }}<br />
  </div>
  <div style="float:left;">
    &#x23a7;<br />&#x23a8;<br />&#x23a9;
  </div>
  {% else %}
  <div>{{ defn.conn }}</div>
  {% endif %}
</div>

<!-- Right hand side -->
<div class="rhs">
  {% for item in defn.rhs %}

<!-- Embedded -->
  {% if forloop.length > 1 %}
  <div class="embed">
    <div class="lhs">
      {% if item.rhs.size > 1 %}<div style="line-height:0.95;">&nbsp;</div>{% endif %}
      {{ item.lhs | markdownify | remove: '<p>' | remove: '</p>' | strip }}
    </div>
    <div class="conn">
      {% if item.rhs.size > 1 %}
      <div style="float:left;padding:0 0.4em;">
        <br />{{ item.conn }}<br />
      </div>
      <div style="float:left;">
        &#x23a7;<br />&#x23a8;<br />&#x23a9;
      </div>
      {% else %}
      <div>{{ item.conn }}</div>
      {% endif %}
    </div>
    <div class="rhs">
      {% for thing in item.rhs %}
        {{ thing | markdownify }}
        <div style="clear:both;"></div>
      {% endfor %}
    </div>
  </div>
  <div style="clear:both;"></div>

  {% else %}
  {{ item | markdownify | remove: '<p>' | remove: '</p>' | strip }}
  {% endif %}
  {% endfor %}
</div>

<div style="clear:both;"></div>
{% endfor %}
</div>

{% when 'trans' %}
<div class="eqn">
  <div class="lhs">
    <div style="float:right;">{{ group.eng.trans }}</div>
  </div>
  <div class="conn">&rArr;</div>
  <div class="rhs">{{ stuff }}</div>
</div>
  <div style="clear:both;"></div>
{% endcase %}
