<div class="footnav">
  <div class="button title">
    {{ page.title }}
  </div>
  <div class="button">
    <a href="#" class="pop" id="nav-pop" title="Site navigation"><img class="icon" src="{{ 'open-book.svg' | prepend: '/images/' | prepend: site.baseurl }}" /></a>
    <div class="lightbox" id="nav-pop-hid">
      <div class="popclose"></div>
      <div class="popbox">
        <div class="popmain">
          <h4>Site navigation<h4>
          {% include elements/mainnav.html collapse=false loc="foot-pop" %}
        </div>
      </div>
    </div>
  </div>
  {% if page.toc %}
  <div class="button">
    <a href="#" class="pop" id="toc-pop" title="Page contents"><img class="icon" src="{{ 'list.svg' | prepend: '/images/' | prepend: site.baseurl }}" /></a>
    <div class="lightbox" id="toc-pop-hid">
      <div class="popclose"></div>
      <div class="popbox">
        <div class="popmain">
          <h4>Table of contents</h4>
          <div class="toc-table"></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="button">
    <a href="#" class="pop" id="searchable-bib" title="Search sources"><img class="icon" src="{{ 'magnifying-glass.svg' | prepend: '/images/' | prepend: site.baseurl }}" /></a>
  </div>
  <div class="button">
    <a href="#" id="totop" title="Return to top"><img class="icon" src="{{ 'chevron-with-circle-up.svg' | prepend: '/images/' | prepend: site.baseurl }}" /></a>
  </div>
</div>
