<h3>Predicates</h3>

<!-- Bears -->
{{ "bears|dangerous" | intension: "+" | display_table }}

<!-- Dangerous -->
{{ "dangerous" | intension | situ: "s1 s2" | display_table }}

<!-- Grizzly -->
{{ "bears" | intension: "grizzly" | display_table }}

<div style="clear:both;"></div>

{% assign bears = "bears" | intension %}
{% assign danger = "dangerous" | intension %}


<h3>Bears</h3>

{{ bears | join: danger | full_outer: "sit ent" | display_table }}

<!---------------------- ----------------------->
<div style="clear:both;"></div>

<h3>Standard plural predication</h3>

{% include relations/bad/index.html rows="7" %}

<!---------------------- -------------------->
<div style="clear:both;"></div>

<h3>Contrastive modification</h3>

<!-- introduce alt set, full outer join, overwrite -->
<table class="relation molecule">
  <tr>
<td class="label" colspan="3">{% include fxns/semwrap.html argument=site.data.meanings.grizzlyFbearsdangerous %}
<br>{% include fxns/semwrap.html argument=site.data.meanings.grizzlyF %} =
<br>PROJ({sit,ent,type &#x21a6; bear},
<br>{% include fxns/semwrap.html argument=site.data.meanings.grizzlyF %}
<br><span class="symbol">&#x27d7;</span> {% include fxns/semwrap.html argument=site.data.meanings.bears %}</td>
</tr>
</table>

{% include relations/contrast/index.html rows="9" %}

<div style="clear:both;"></div>

<h3>Contrastive plural predication</h3>

{% include relations/gbad/index.html rows="7" %}
