{% assign dist = site.data.typologies[include.distinction] %}

{% unless include.biblio == "no" %}{% assign carol = '' %}{% endunless %}

<table class="typology">
<thead>
  <tr>
    <th>Type</th>
    {% for types in dist limit: 1 %}
    {% for attrib in types[1] %}
    <th>{{ attrib[0] | capitalize }}</th>
    {% endfor %}
    {% endfor %}
  </tr>
</thead>
<tbody>
  {% for kind in dist %}
  <tr class="type {% cycle 'odd', 'even' %}">
    <td>{{ kind[0] | capitalize }}</td>
    {% for bit in kind[1] %}
    {% if bit[1][0] %}
    <td class="embed">
      <table>
      {% for row in bit[1] %}
      <tr><td>
        {% if bit[0] == "reference" %}
          {% for item in row %}
            {{ item }}
          {% endfor %}
        {% else %}
          {{ row }}
        {% endif %}
      </td></tr>
      {% endfor %}
      </table>
    </td>
    {% else %}
    <td>{{ bit[1] }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>


<div {% if include.biblio == "no" %}style="display:none;"{% endif %}>
  <h3>References</h3>
  {% unless include.biblio == "no" %}
    {% include elements/reflist.html %}
  {% endunless %}
</div>
