{% if include.type %}
  {% assign bits = include.type %}
{% else %}
  {% assign bits = 'sent' %}
{% endif %}
{% assign example = site.data.examples.[include.term].[bits] %}

<div class="def" id="{{ include.term | slugify }}">
  <div class="title">
    <span class="head">Example {% count ex %}</span>
    <span>{{ include.term | capitalize | prepend: ' (' | append: ') ' }}</span>
  </div>

  <div class="body fence">
      {% if example["external"] %}
        {% for snip in site.snippets %}
          {% if snip.label == example["external"] %}
            {{ snip.content }}
          {% endif %}
        {% endfor %}
      {% else %}
    <table>
    {% for item in example %}
      <tr>
      {% if item.size == 1 %}
      {% for i in item %}
         <th>{{ i[0] | append: ':&nbsp;' }}</th>
         <td align="top">{{ i[1] }}</td>
      {% endfor %}
      {% else %}
        <td>{{ item }}</td>
      {% endif %}
      </tr>
    {% endfor %}
      {% endif %}
    </table>
  </div>
</div>
