<span class='ldrt'>
  <span class='state'>{{ include.before }}</span>
  <span class='drs left top bottom'></span>
  <span class='condition'>
    {% for item in include.update %}
      {% if item contains 'lhs' %}
      <span>{{ item.lhs }}</span>
      <span>{{ item.conn }}</span>
        {% if item.rhs.symbol %}
        <span>{% site.data.symbols[item.hrs.symbol] %}</span>
        {% else %}
        <span>{{ item.rhs }}</span>
        {% endif %}
      {% else %}
      <span>{{ item }}</span>
      {% endif %}
    {% endfor %}
  </span>
  <span class='drs right top bottom'></span>
</span>
