<div class="groupwrap" style="height:{{ include.rows | times: 50 }}px;">
<div class="group">

<ul class="groupnav">
  <li><a class="T1" href="#">Alt-set</a></li>
  <li><a class="T2" href="#">Modify</a></li>
  <li><a class="T3" href="#">Refine</a></li>
</ul>

<div class="space T1">
{% include relations/contrast/altset.html %}
</div>

<div class="space T2">
{% include relations/contrast/modify.html %}
</div>

<div class="space T3">
{% include relations/contrast/refine.html %}
</div>

</div>
</div>
