---
---

<!DOCTYPE html>
<html>

{% include elements/head1.html %}

<body>

<div class="wrapper">

<div class="page-front">

  {% include elements/mainnav.html collapse=true loc="head" %}

  <div class="title">{{ page.title }}</div>
  <div class="subtitle">{% if page.subtitle %}{{ page.subtitle | append: '&nbsp;' }}{% endif %}{% if page.author %}{{ page.author | prepend: 'by&nbsp;' }}{% endif %}</div>
  <div class="divider"></div>

  {% include elements/footnav.html %}
</div>

<div class="page-content">

  {{ content }}

</div>

<div class="page-end">

  {% include elements/foot1.html %}

</div>

</div>

</body>
</html>
