---
layout: compress
---

<!DOCTYPE html> 
<html>

{% include head1.html %}

<body>
{% include mark.html title="attributes" %}

<div class="wrapper">

<div class="page-heading">

{% include mark.html title='navigation' %}

<h1>{{ page.title }}</h1>
<h3>{% if page.subtitle %}{{ page.subtitle | append: '&nbsp;' }}{% endif %}{% if page.author %}{{ page.author | prepend: 'by&nbsp;' }}{% endif %}</h3>
</div>
<div style="clear:right;border-bottom:1px solid #aaa;"></div>
{% if page.abstract %}
<div class="abstract">
{% include mark.html title=page.abstract %}
</div>
{% endif %}

{% assign ex = 0 %}

<div class="page-content">
  {{ content }}
</div>

</div>

{% include foot1.html %}

</body>
</html>
