---
layout: compress
---

<!DOCTYPE html>
<html>

{% include page-elements/head1.html %}

<body>
{% assign chapter = site.data.toc[page.title] %}
{% include page-elements/totop.html %}

<div class="wrapper">

<div class="page-heading">

{% include appendices/mark.html title='page-elements/navigation' %}

<h1>{{ page.title }}</h1>
<h3>{% if page.subtitle %}{{ page.subtitle | append: '&nbsp;' }}{% endif %}{% if page.author %}{{ page.author | prepend: 'by&nbsp;' }}{% endif %}</h3>
</div>

<div class="divider"></div>

{% if chapter.abstract %}
<h3>Abstract</h3>
<blockquote>
{{ chapter.abstract | markdownify }}
</blockquote>
{% endif %}

{% if page.toc %}
<h3>Table of contents</h3>
<blockquote>
{% include page-elements/toc.html %}
</blockquote>
{% endif %}

{% assign ex = 0 %}

<div class="page-content">
  {{ content }}
</div>

</div>

{% include page-elements/foot1.html %}

</body>
</html>
