{{#defn}}
<table class="element">
  {{#name}}
  <thead>
    <tr class="title">
      <th colspan="3">{{.}}</th>
    </tr>
  </thead>
  {{/name}}
  <tbody>
  {{#body}}
    {{#name}}
      <tr class="title">
        <th colspan="3">{{.}}</th>
      </tr>
    {{/name}}

    {{#body}}
      {{#name}}
        <tr class="title">
          <th colspan="3">{{.}}</th>
        </tr>
      {{/name}}

      {{#eqn}}
      <tr>
        <td class='lhs'>
        {{#lhs}}
          {{#eqn}}
          <tr><td colspan="3"><table class='eqn'>
            <tr>
              <td class='lhs'>
              {{#lhs}}
                {{#fxn}}
                <tr><td>{{.}}</td></tr>
                {{/fxn}}
                {{#cat}}
                <tr class="categorical">
                  <td colspan="3">{{.}}</td>
                </tr>
                {{/cat}}
              {{/lhs}}
              </td>
              <td class='conn'>{{conn}}</td>
              <td class='rhs'>
                {{#rhs}}
                  {{#fxn}}
                  <tr><td>{{.}}</td></tr>
                  {{/fxn}}
                  {{#cat}}
                  <tr class="categorical">
                    <td colspan="3">{{.}}</td>
                  </tr>
                  {{/cat}}
                {{/rhs}}
              </td>
            </tr>
          </td></tr></table>
          {{/eqn}}
          {{#fxn}}
          <tr><td>{{.}}</td></tr>
          {{/fxn}}
          {{#cat}}
          <tr class="categorical">
            <td colspan="3">{{.}}</td>
          </tr>
          {{/cat}}
        {{/lhs}}
        </td>
        <td class='conn'>{{conn}}</td>
        <td class='rhs'>
          {{#rhs}}
            {{#eqn}}
            <tr><td colspan="3"><table class='eqn'>
              <tr>
                <td class='lhs'>
                {{#lhs}}
                  {{#fxn}}
                  <tr><td>{{.}}</td></tr>
                  {{/fxn}}
                  {{#cat}}
                  <tr class="categorical">
                    <td colspan="3">{{.}}</td>
                  </tr>
                  {{/cat}}
                {{/lhs}}
                </td>
                <td class='conn'>{{conn}}</td>
                <td class='rhs'>
                  {{#rhs}}
                    {{#fxn}}
                    <tr><td>{{.}}</td></tr>
                    {{/fxn}}
                    {{#cat}}
                    <tr class="categorical">
                      <td colspan="3">{{.}}</td>
                    </tr>
                    {{/cat}}
                  {{/rhs}}
                </td>
              </tr>
            </td></tr></table>
            {{/eqn}}
            {{#fxn}}
            <tr><td>{{.}}</td></tr>
            {{/fxn}}
            {{#cat}}
            <tr class="categorical">
              <td colspan="3">{{.}}</td>
            </tr>
            {{/cat}}
          {{/rhs}}
        </td>
      </tr>
      {{/eqn}}
      {{#fxn}}
          {{.}}
      {{/fxn}}
      {{#cat}}
        <tr class="categorical">
          <td colspan="3">{{.}}</td>
        </tr>
      {{/cat}}
    {{/body}}
    {{#sub}}
      {{#name}}
        <tr class="title">
          <th colspan="3">{{.}}</th>
        </tr>
      {{/name}}

      {{#eqn}}
      <tr>
        <td class='lhs'>
        {{#lhs}}
          {{#fxn}}
          <tr><td>{{.}}</td></tr>
          {{/fxn}}
          {{#cat}}
          <tr class="categorical">
            <td colspan="3">{{.}}</td>
          </tr>
          {{/cat}}
        {{/lhs}}
        </td>
        <td class='conn'>{{conn}}</td>
        <td class='rhs'>
          {{#rhs}}
            {{#fxn}}
            <tr><td>{{.}}</td></tr>
            {{/fxn}}
            {{#cat}}
            <tr class="categorical">
              <td colspan="3">{{.}}</td>
            </tr>
            {{/cat}}
          {{/rhs}}
        </td>
      </tr>
      {{/eqn}}
      {{#fxn}}
          {{.}}
      {{/fxn}}
      {{#cat}}
        <tr class="categorical">
          <td colspan="3">{{.}}</td>
        </tr>
      {{/cat}}
    {{/sub}}

    {{#eqn}}
    <tr>
      <td class='lhs'>
      {{#lhs}}
        {{#eqn}}
        <tr><td colspan="3"><table class='eqn'>
          <tr>
            <td class='lhs'>
            {{#lhs}}
              {{#fxn}}
              <tr><td>{{.}}</td></tr>
              {{/fxn}}
              {{#cat}}
              <tr class="categorical">
                <td colspan="3">{{.}}</td>
              </tr>
              {{/cat}}
            {{/lhs}}
            </td>
            <td class='conn'>{{conn}}</td>
            <td class='rhs'>
              {{#rhs}}
                {{#fxn}}
                <tr><td>{{.}}</td></tr>
                {{/fxn}}
                {{#cat}}
                <tr class="categorical">
                  <td colspan="3">{{.}}</td>
                </tr>
                {{/cat}}
              {{/rhs}}
            </td>
          </tr>
        </td></tr></table>
        {{/eqn}}
        {{#fxn}}
        <tr><td>{{.}}</td></tr>
        {{/fxn}}
        {{#cat}}
        <tr class="categorical">
          <td colspan="3">{{.}}</td>
        </tr>
        {{/cat}}
      {{/lhs}}
      </td>
      <td class='conn'>{{conn}}</td>
      <td class='rhs'>
        {{#rhs}}
          {{#eqn}}
          <tr><td colspan="3"><table class='eqn'>
            <tr>
              <td class='lhs'>
              {{#lhs}}
                {{#fxn}}
                <tr><td>{{.}}</td></tr>
                {{/fxn}}
                {{#cat}}
                <tr class="categorical">
                  <td colspan="3">{{.}}</td>
                </tr>
                {{/cat}}
              {{/lhs}}
              </td>
              <td class='conn'>{{conn}}</td>
              <td class='rhs'>
                {{#rhs}}
                  {{#fxn}}
                  <tr><td>{{.}}</td></tr>
                  {{/fxn}}
                  {{#cat}}
                  <tr class="categorical">
                    <td colspan="3">{{.}}</td>
                  </tr>
                  {{/cat}}
                {{/rhs}}
              </td>
            </tr>
          </td></tr></table>
          {{/eqn}}
          {{#fxn}}
          <tr><td>{{.}}</td></tr>
          {{/fxn}}
          {{#cat}}
          <tr class="categorical">
            <td colspan="3">{{.}}</td>
          </tr>
          {{/cat}}
        {{/rhs}}
      </td>
    </tr>
    {{/eqn}}
    {{#fxn}}
        {{.}}
    {{/fxn}}
    {{#cat}}
      <tr class="categorical">
        <td colspan="3">{{.}}</td>
      </tr>
    {{/cat}}
  {{/body}}
  {{#sub}}
    {{#name}}
      <tr class="title">
        <th colspan="3">{{.}}</th>
      </tr>
    {{/name}}

    {{#body}}
      {{> formmain}}
    {{/body}}
    {{#sub}}
      {{> formmain}}
    {{/sub}}

    {{#eqn}}
      {{> formequation}}
    {{/eqn}}
    {{#fxn}}
        {{.}}
    {{/fxn}}
    {{#cat}}
      <tr class="categorical">
        <td colspan="3">{{.}}</td>
      </tr>
    {{/cat}}
  {{/sub}}

  {{#eqn}}
  <tr><td colspan="3"><table class='eqn'>
    {{> formequation}}
  </td></tr></table>
  {{/eqn}}
  {{#fxn}}
  <tr><td>{{.}}</td></tr>
  {{/fxn}}
  {{#cat}}
    <tr class="categorical">
      <td colspan="3">{{.}}</td>
    </tr>
  {{/cat}}
  </tbody>
</table>
{{/defn}}
