<tr>
  <td class='lhs'>
  {{#lhs}}
    {{#eqn.0}}
    {{#eqn}}
    <tr><td colspan="3"><table class='eqn'>
      {{> formequation}}
    </td></tr></table>
    {{/eqn}}
    {{/eqn.0}}


    {{#fxn}}
    <tr><td>{{.}}</td></tr>
    {{/fxn}}
    {{#cat}}
    <tr class="categorical">
      <td colspan="3">{{.}}</td>
    </tr>
    {{/cat}}
  {{/lhs}}
  </td>
  <td class='conn'>{{conn}}</td>
  <td class='rhs'>
    {{#rhs}}
      {{#eqn.0}}
      {{#eqn}}
      <tr><td colspan="3"><table class='eqn'>
        {{> formequation}}
      </td></tr></table>
      {{/eqn}}
      {{/eqn.0}}
      {{#fxn}}
      <tr><td>{{.}}</td></tr>
      {{/fxn}}
      {{#cat}}
      <tr class="categorical">
        <td colspan="3">{{.}}</td>
      </tr>
      {{/cat}}
    {{/rhs}}
  </td>
</tr>
