{{#defn}}
<table class="element">
  {{#name}}
  <thead>
    <tr class="title">
      <th colspan="3">{{.}}</th>
    </tr>
  </thead>
  {{/name}}
  <tbody>
  {{#body}}
    {{> formmain}}
  {{/body}}
  {{#sub}}
    {{> formmain}}
  {{/sub}}

  </tbody>
</table>
{{/defn}}
