{{#if name}}
  <tr class="title">
    <th colspan="3">{{name}}</th>
  </tr>
{{/if}}

{{#if body}}
  {{> main body}}
{{/if}}
{{#if sub}}
  {{> main sub}}
{{/if}}

{{#if eqn}}
  {{> equation eqn}}
{{else if fxn}}
  {{#with fxn}}
    {{> (name)}}
  {{/with}}
{{else}}
  <tr class="categorical">
    <td colspan="3">{{this}}</td>
  </tr>
{{/if}}
