<!-- Compare -->
<table class="relation">
<tr>
  <td class="label" colspan="4" style="font-size:0.95em;"><strong>T</strong>(<strong>subj</strong>,+) = <strong>T</strong>(<strong>ent</strong>,&lowast;) &or; <strong>T</strong>(<strong>subj</strong>,+) = 0</td>
</tr>

{% include relnheader.html attrs="sit|ent|subj|pred" %}

{% include keylist.html key="s<sub>1</sub>" attr1="<span class='red'>a</span>|<span class='red'>b</span>|<span class='red'>d</span>" attr2="<span class='red'>+</span>|<span class='red'>+</span>|&omega;" attr3="+|+|+" comp="X" %}
<tr><td class="label" colspan="4" style="border-bottom:1px solid #000;"></td></tr>
{% include keylist.html key="s<sub>2</sub>" attr1="<span class='red'>a</span>|<span class='red'>b</span>" attr2="<span class='red'>+</span>|<span class='red'>+</span>" attr3="+|+" comp="&#x2713;" %}
<tr><td class="label" colspan="4" style="border-bottom:1px solid #000;"></td></tr>
{% include keylist.html key="s<sub>3</sub>" attr1="<span class='red'>b</span>|<span class='red'>d</span>" attr2="&omega;|&omega;" attr3="+|+" comp="&#x2713;" %}

<tr>
  <td class="label" colspan="4"><strong>&#10649;</strong></td>
</tr>
</table>
