<div class="groupwrap" style="height:{{ include.rows | times: 50 }}px;">
<div class="group">

<ul class="groupnav">
  <li><a class="T1" href="#">Join</a></li>
  <li><a class="T2" href="#">Group</a></li>
  <li><a class="T3" href="#">Count</a></li>
  <li><a class="T4" href="#">Compare</a></li>
  <li><a class="T5" href="#">Restrict</a></li>
</ul>

<div class="space T1">
{% include bad/roj-bd.html %}
</div>

<div class="space T2">
{% include bad/group-sit.html %}
</div>

<div class="space T3">
{% include bad/count-ent.html %}
</div>

<div class="space T4">
{% include bad/compare-be.html %}
</div>

<div class="space T5">
{% include bad/restrict-bad.html %}
</div>

</div>
</div>
